.product-category{
    padding: 50px;
    border-bottom: 1px dotted #333;
    /* clear: both; */
    float: left;
    width: 100%;
}

.product-category h2{
    margin: 0 0 10px;
    padding: 0
}

.product-category h2 a{
    font-size: 20px; 
    color: #2196f3;
    text-decoration: none
}

.product-category h2 a:hover{
    text-decoration: underline
}

.products{
    width: 100%;
    display: block;
    clear: both
}

.products ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.products li{
    width: 330px;
    float: left;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 0px 0px 8px #ccc;
    height: 300px;
    padding: 0;
    margin-right: 30px;
    border-radius: 5px;
    background-color: #ececec;
    background-size: 100% 100%;
    position: relative;
}

.products li .content{
    width: 100%;
    min-height: 150px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, .4);
}

.products li .inner-content{
    padding: 15px;
}

.products li:last-child{
    margin-right: 0
}

.products h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
}

.products img{
    width: 100%;
    height: 150px;
    margin-bottom: 10px
}

.products h3 a{
    font-size: 15px;
    color: #333;
    text-decoration: none
}

.products h3 a:hover{
    text-decoration: underline
}